*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
}

.profile{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    overflow-y: scroll;
}

.imag{
    flex: 10%;
    margin-left: 5%;
    margin-top: 5%;
    display: flex;
    align-items:baseline;
    max-height: 24vh;
}
.imag img{
    border-radius: 50%;
    width: 20vh;
}
.imag span{
    background-color: lightgray;
    border-radius: 50%;
    position: relative;
}
.data{
    flex: 90%;
    width: 70%;
    margin:auto;
    max-width: 800px;
    margin-top: 20px;
}

.i{
    width: 100%;
    margin: 1% 0;
    padding: 3%;

}
.learning, .native{
    margin: 3% 0;
}
.select{
    margin: 2%;
    text-align: center;  
}

.words{
    flex: 5;
    text-align: center; 
    font-size: 20px;
    color: grey;
    font-weight: bold;
}
.profile{
    border-radius: 0;
}

span{
}

.file button{

}/*
@media only screen and (max-width: 1000px){
    .data{
        margin-top: -20%;
    }
}*/